# ignore everything
*

# except for:
#
# directories
!*/

# gitignore file
!.gitignore

# .c files
!*.c

# markdown files
!*.md

# header files
!*.h


# ignore everything in the ./external folder
/external

